/* 
 * ADDED VARIABLES
 */

$link-color: #005581;

/*
 * MINIMA THEME OVERRIDES
 */


a {
    color: $link-color;
    text-decoration: none;
//    text-decoration: underline;
//    text-decoration-skip: spaces edges;
//    text-decoration-color: lighten($link-color, 15%);

    &:visited {
        color: darken($link-color, 15%);
    }

    &:hover {
    color: $text-color;
    text-decoration: underline;
    }
}


.site-header {
  border-bottom: 1px solid $grey-color;
}

.site-footer {
    border-top: 1px solid $grey-color;
}

/*-------------------*/

/*
 * ADDED STYLES
 */


.hidden {
    display: none;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2vw;
    margin: 40px 1vw 40px 1vw;
}

.two-column > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $grey-color;
    padding: 2vw;
    text-align: center;
}

#footer-nav {
    margin: 20px 0;
}

#footer-nav ul {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
}

#footer-nav ul > li {
    list-style-type: none;
}

#footer-nav ul > li > a
{
    display: inline-block;
    min-height: 44px;
}

#logo {
    width: 200px;
    margin: 20px 0;
}

#check-mark {
    width: 1.2em;
}


.primary-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.primary-link a {
    display: inline-block;
    border: 1px solid $link-color;
    padding: 0.5em;
}

/*
 * MEDIA QUERIES
 */

 @include media-query($on-palm) {
   #footer-nav ul {
     flex-direction: column;
   }
 }